@font-face {
  font-family: 'dalmoori';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #5e5e5f;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'dalmoori';
  color: #3c2f2f;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 80px;
  gap: 0;
}

.left-panel {
  width: 300px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1), inset 0 0 0 2px #ddd;
  border-left: 6px double #ccc;
  border-right: 6px double #ccc;
}

.main-panel {
  width: 1000px;
  padding: 60px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1), inset 0 0 0 2px #ddd;
  border-left: 6px double #ccc;
  border-right: 6px double #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-panel h2 {
  font-size: 32px;
  color: #3048e3;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'dalmoori';
}

.main-panel p {
  font-size: 20px;
  margin-bottom: 40px;
  font-family: 'dalmoori';
}

.right-panel {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  background: transparent;
  margin-left: -10px;
  font-family: 'dalmoori';
}

.right-panel button {
  width: 140px;
  padding: 12px 20px;
  background-color: white;
  color: #696969;
  font-family: 'dalmoori';
  font-weight: bold;
  border: 2px solid #a1a1a1;
  border-radius: 0 20px 20px 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}

.right-panel button:hover {
  background-color: #bdbdbd;
  color: #696969;
  border-color: #666666;
}

.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-family: 'dalmoori';
  font-weight: bold;
  background-color: #f279a1;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #e35a8b;
}


.wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding: 0;
  width: 100%;
}

.wrapper.open {
  max-height: 300px;
  padding: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 10px;
  background-color: #5e5e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
