.container{
    width: 300px;
    margin: 0 auto;
}
.signbtn{
width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signwrapper{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding: 0;
}
.signwrapper.open{
  max-height: 300px;
  padding: 20px 0;
}
.signform{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signform input{
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signform button{
  padding: 10px;
  background-color: #5e5e5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
